@import url(https://fonts.googleapis.com/css2?family=Suez+One&display=swap);

.container-fluid{
    background-color: #E6D1D7;
    text-align: center;
    color: rgb(37, 37, 35);
    font-style: 'Suez One', serif;
}

#quote-details{
    background-image: url("/assets/ocean.jpg");
 
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    font-size: 30px;
    font-style: 'Suez One', serif;
}

#main-words{
    font-size: 50px;
}