<div class="container-fluid">
    <h1>Hamasisha Quotes <img src="/assets/lightbulb.jpg" alt="Simply Easy Learning" width="100"
        height="60"></h1>
    <ul>
    <div *ngFor='let quote of quotes;let i = index' id="quote-details">
        <p id="main-words" appHighlight>{{quote.words}} </p>
        <p id="details">posted on {{quote.publishDate|date|uppercase}} by {{quote.submitter}}</p>
        
        
            
        <p>{{quote.like}}</p>
        
        
        <div id="buttons">
        <button (click) = "likeButtonClick(i)" class= "btn btn-success">Like</button>
        <button (click) = "dislikeButtonClick(i)" class ="btn btn-danger">Dislike</button>
        <button (click)='toggleDetails(i)'>More</button>
        
        </div>
        
        <app-quote-details *ngIf='quote.showTheme' [quote]='quote' (isUnwanted) = 'deleteQuote($event,i)'></app-quote-details>
    </div>
    <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    </ul>
    <p *ngIf='quotes.length > 5'>You have too many quotes</p>
</div>