<header>
  <div class="header">
    <img id="brand" alt="" src="images/favicon.ico">&nbsp;&nbsp;&nbsp;
    <div class="logo">
      <h2 id="logo"><strong>Hamasisha Quotes</strong></h2>
    </div>
    <nav class="container-fluid">
      <ul>
        <li>
          <a href=""id="play"><strong>Subscribe</strong></a>
        </li>
        <li>
          <a href="" id="instructions"><strong>About Us</strong></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="container-fluid">
    
      <p>Hamasisha means inspire in swahili</p>
    
        
    
    <div *ngFor='let quote of quotes;let i = index' id="quote-details">
        
            <p id="main-words" appHighlight><strong>{{quote.words}} {{quote.maxlikes}}</strong></p>
            <p id="details"><strong>posted on {{quote.publishDate|date|titlecase}} by {{quote.submitter}}</strong></p>
            
            
                
            <p>{{quote.like}}</p>
            
            
            <div id="buttons">
              <button (click) = "likeButtonClick(i)" class= "btn btn-success"><i style="font-size:24px" class="fa fa-thumbs-up"></i></button>
            <button (click) = "dislikeButtonClick(i)" class ="btn btn-danger"><i style="font-size:24px" class="fa fa-thumbs-down"></i></button>
                <button (click)='toggleDetails(i)'>More</button> 
            
            </div>
            
            <app-quote-details *ngIf='quote.showTheme' [quote]='quote' (isUnwanted) = 'deleteQuote($event,i)'></app-quote-details>
    </div>
    <div class="card">
          <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    
</div>