<div class="container-fluid" id="form">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="words">Quote</label>
            <textarea class="form-control" id="words"  rows="4" [(ngModel)]="newQuote.words" name="words" #words='ngModel' required></textarea>
            <div [hidden]="words.valid || words.pristine" class="alert alert-danger">
              <p>A quote is required</p>
            </div>
        </div>
        <div class="form-group" id="box">
  
            <label for="theme">Theme</label>
            <input type="text" class="form-control" id="theme" rows="4" [(ngModel)]="newQuote.theme" name="theme" #theme="ngModel" required>
            <div [hidden]="theme.valid || theme.pristine" class="alert alert-danger">
              <p>Please add a Theme</p>
            </div>
        </div>
        
        <div class="form-group">
  
            <label for="timePassed">Time Passed</label>
            <input type='date' id="timePassed" [(ngModel)]="newQuote.publishDate" name="publishDate" #publishDate="ngModel" required>
            <div [hidden]="publishDate.valid || publishDate.pristine" class="alert alert-danger">
              <p>Date is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
  </div>